<div data-th-if="${session.message}"
    data-th-object="${session.message}"
    data-th-fragment="messagebox"
    data-th-classappend="*{'border border-'+type+'-800 bg-'+type+'-50 text-'+type+'-400'}" 
    id="alert-1" 
    class="flex sm:items-center p-4 mb-4 text-sm rounded-lg"
    role="alert">
    <svg class="w-4 h-4 shrink-0 mt-0.5 md:mt-0" 
         aria-hidden="true" 
         xmlns="http://www.w3.org/2000/svg" 
         width="24"
         height="24" 
         fill="none" 
         viewBox="0 0 24 24"
    >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    <span class="sr-only">Info</span>
    <div class="ms-2 text-sm">
        <span data-th-text="*{content}"></span> 
    </div>
    <th:block th:text="${@sessionHelper.removeMessage()}"></th:block>
</div>